
html {
  overflow-x: hidden;
}

body {
  background: #fff;
  font-size: 14px;
  font-weight: 400;
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Lora', serif !important;
  word-wrap: break-word;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #666;
  line-height: 25px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden;
}
li{
  color:#000;
  font-size: 16px;
}
.headertop{
  background-color: #000;
  margin: 0 -15px;
  padding: 2px 15px;
}
.navbarListingtop {
    padding: 0px 15px;
    position: fixed;
    top:0;
    /*box-shadow: 0 2px 2px #a3a3a3;*/
    width: 100%;
    left: 0;
    background: #fff;
    z-index: 999;
}
.navbar-toggler-icon:focus{
  outline:none;
}
section.bannersection {
    margin-top: 60px;
}
/*.top-nav-collapse .navbarListingtop{
    top: 0;
}*/
.headertop a{
  color:#fff;
}
span.navbar-toggler-icon.navBarr i {
    font-size: 24px;
}
.navListing{
  text-transform: uppercase;
}
.navbarright{
  justify-content: flex-end;
}
a.nav-link.navListing:hover{
  color: #000;
}
ul.dropdown {
    list-style-type: none;
    display: none; 
    top: 50px;
    word-break: break-all;
    border: 1px solid #ddd;
    /*box-shadow: 2px 2px 3px #4e4b4b;*/
    padding: 10px 15px;
    z-index: 9;
    width: 180px;
    position: absolute;
    background: #fff;
}
.dropdown li a{
  color:#000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.dropdown li a:hover{
  color: #006;
}
.navbarListingtop .navbar-nav .nav-item:hover ul.dropdown{
  display: block;
  background: #fff;
}
.navbarListingtop .navbar-nav .nav-item:hover .navListing i{
  transform: rotate(180deg);
  /*padding-left: 5px;*/
}
a.nav-link.navListing {
    font-size: 14px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 15px !important;
    color: #006;
}
.navListing i{
  color: #006;
  font-size: 12px;
  padding-left: 3px; 
}
.sliders{
  width: 100%;
  background-color:
}
.sliderRelative{
  position: relative;
}
.sliders img {
    width: 100%;
}

/*--------------------- start About us-----------------------------*/
.tittlehead{
  color: #39a5d4;
  font-size: 30px;
  font-family: "Lora", serif; 
  margin-bottom: 4px;
  font-style: italic; 
  text-transform: uppercase;
  letter-spacing: 1px;
}
.about-us-section{
  padding: 20px 0 15px;
}
.text-color a{
  color:#3060be;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}
.paragraph-content p{
  font-family: 'Lora', serif;
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 26px;
}
.sectionAboutWrap{
  background-color: #f1f1f1;
}
.aboutSection{
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.about-gallery{
  display: flex;
  padding: 0;
  list-style-type: none;
}
.about-gallery li img{
  height: 120px;
  width: 120px;
}
ul.about-gallery li {
  padding: 10px;
}
.aboutGallery{
  padding-top: 20px;
}
.team-desc p {
    color: #000;
    font-size: 16px;
    margin-bottom: 8px;
}

.caption h5 {
    font-size: 13px;
    padding: 7px 0;
    text-align: center;
    color: #000;
}
/*---------------------End About us-----------------------------*/

/*---------------------start Gallery-----------------------------*/
.gallery-section{
   padding: 20px 0 15px;
}
.gallerycontent {
    padding: 0 10px;
}
.gallery-section .border-all{
  border:2px solid #c9c9c9;
  padding: 20px;
}
.padding-none{
  padding: 0;
}
.eventname{
  color:#343536f5;
  font-size: 25px;
   font-family: "Lora", serif; 
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
}
.gallerycontent p{
  text-align: left;
  font-family: 'Lora', serif,Regular;
  margin-bottom: 4px;
  font-size: 16px;
  font-style: normal;
  line-height: 26px;
  color: rgba(16,17,17,0.961);
}
.gallery-img{
  width: 420px;
  height: 274px;
}
.gallery-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.m-b-30{
  margin-bottom: 30px;
}
.backgroundwhite{
  background-color: #fff;
}
.gallery-img .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.gallery-img:hover .overlay{
  opacity: 1;
}
.gallery-img{
  position: relative;
}
.mobile-btn{
    display:none;
  }
.fancybox:hover .view-gallery i {
  opacity: 1;
  
}
.view-gallery {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 42%;
    border-radius: 5px;
    left: 42%;
    background: #fff;
}
.view-gallery i {
    position: absolute;
    top: 46%;
    opacity: 0;
    color: #3ba6d4;
    z-index: 999;
    transition: .3s all;
    font-size: 30px;
    left: 48%;
    transform: translate(-50%,-50%);
}
/*---------------------End gallery-----------------------------*/
/*---------------------start video gallery-----------------------------*/
.divflex>div {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.divflex {
    display: flex;
}
.col-md-4.videoList iframe {
    width: 100%;
}
.video-gallery{
  margin-bottom: 20px;
}
/*---------------------End video gallery-----------------------------*/
/*---------------------start our team-----------------------------*/
.team-section{
  padding: 20px 0 15px;
}
.team-desc h4{
  color:#000;
  font-size: 22px;
}
.team-section .item{
  height: 279px;
}
.team-section .item img{
  height: 100%;
  border: 1px solid #ddd;
}
.team-section .item .overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(52, 58, 64,.7);
}
.team-section .item:hover .overlay{
  height: 20%;
  opacity: 1;
  bottom: 0;
}
.team-section .item:hover .overlay h3{
  color: #fff;
  padding: 15px 20px 20px;
  font-size: 20px;
  text-align: center;
}
.team-section .item-team {
    margin-bottom: 30px;
}
.teamimg{
  height: 279px;
  position: relative;
  width: 253px;
}
.bg-color{
  background-color: #f1f1f1;
}
.team-desc{
  padding: 10px 10px 10px 20px;
  background: #fff;
}
.team-section .item-team img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.team-section .item-team:hover .overlay h3{
  color: #fff;
  padding: 15px 20px 20px;
  font-size: 20px;
  text-align: center;
}
.team-section .item-team img {
    height: 100%;
    border: 1px solid #ddd;
}
.team-desc h3{
  color:#000066;
}
.team-section .teamimg .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    margin: 0 auto;
    width: 90%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(52, 58, 64,.7);
}
.team-section .item-team:hover .overlay{
  height: 20%;
  opacity: 1;
  bottom: 0;
}
.our_team_page{
  margin-top: 66px;
}
.our_team_page .tittlehead{
  margin-bottom: 0;
}
/*---------------------End our team-----------------------------*/

/*---------------------start event-----------------------------*/
.event-img{
  margin-top:30px;
  position: relative;
}
.event-img{
  height: 276px;
  width: 100%;
}
.event-img img{
  height: 100%;
  width: 100%;
}
.containerfluid{
  margin: 0 30px;

}

/*---------------------end event-----------------------------*/
.eventimg{
  width: 420px;
  height: 313px;
}
/*---------------------start facts-----------------------------*/
/*---------------------start press-----------------------------*/
.outer-wrap img{
  height: 210px;
  width: 100%;
}
.outer-wrap .float-right a {
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 18px;
    color: #000066;
    border: 1px solid #000066;
}
.press-content h3{
  font-size: 20px;
  color:#000;
}
.press-content{
  margin-top:4px;
}
.press-content p{
  color:#000;
}
.outer-wrap {
    padding: 15px;
    border: 1px solid #a3a3a3;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 30px;
}
.mediaGallery{
  padding-top: 30px;
}
.project-hover .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.outer-wrap:hover .overlay{
  opacity: 1;
}
.outer-wrap{
  position: relative;
}
.outer-wrap .overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.outer-wrap:hover .overlay{
  opacity: 1;
}
.outer-wrap{
  position: relative;
}
.outer-wrap .view-gallery {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 42%;
    border-radius: 5px;
    left: 42%;
    background: #fff;
}
/*---------------------end press-----------------------------*/

/*---------------------start places-----------------------------*/


/*---------------------end places-----------------------------*/
.places-section{
   padding: 20px 0 15px;
}
h2.places-head {
    color: #39a5d4;
    font-size: 30px;
    font-family: "Lora", serif;
    margin-bottom: 4px;
    font-style: italic;
    letter-spacing: 1px;
}
.places-section .border-all{
  border:2px solid #c9c9c9;
  padding: 20px;
} 
.view-places-section .row{
  display: flex;
  align-items: center;
}
/*---------------------start project-----------------------------*/

.project-img{
  height: 166px;
  width: 100%;
  margin: 10px 0 20px;
}
.project-img img{
  height: 100%;
  width: 100%;
}
.project-side-img{
  width: 100%;
  margin: 10px 0 40px;  
}
.project-side-img img{
  width: 100%;
}
.project-img-khushi{
  height: 300px;
  width: 100%;
  margin: 10px 0 20px;
}
.project-img-khushi img{
  height: 100%;
  width: 100%;
}

.project-hover .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.project-hover:hover .overlay{
  opacity: 1;
}
.project-hover{
  position: relative;
}
.project-hover .overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.project-hover:hover .overlay{
  opacity: 1;
}
.project-hover{
  position: relative;
}
.project-hover .view-gallery {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 42%;
    border-radius: 5px;
    left: 42%;
    background: #fff;
}
/*---------------------End project-----------------------------*/
/*---------------------start Testimonial-----------------------------*/
.testimonial-section{
  padding: 20px 0 40px;
}
.testimonialimg{
  height: 130px;
  width: 130px;
  margin: 0 auto;
}
.singlepage{
  margin-top:70px;
}
.testimonial-single-view{
  margin: 20px 0;
  background: #fff;
  padding: 20px;
}
.testimonialsection{
  margin-top:70px;
}
.single-view-testimonial .testimonialimg {
  height: 200px;
  width: 200px;
}
.single-view-testimonial .testimonialimg img{
  height: 100%;
  width: 100%;
   object-fit: contain;
}
.testimonialimg img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.testimonial-content h3{
  font-style: italic;
  font-style: normal;
  font-size: 22px;
  margin-top: 9px;
  color: rgba(13,13,13,1);
}
.testimonial-content p{
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  margin-bottom: 10px;
  font-weight: normal;
  color: rgba(13,13,13,1);
}
.testimonial-outer {
  padding: 30px 20px;
      margin-bottom: 30px;
}
.testimonialimg img {
    border-radius: 50%;
    overflow: hidden;
}
.testimonial-section .owl-carousel .owl-nav .owl-prev:before{
  display: none;
}
.testimonial-section .owl-carousel .owl-nav .owl-next:before{
  display: none;
}
.border-all-side{
  border:2px solid #c9c9c9;
}
.testimonial-content a{
  color: rgba(48,88,167,1);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: normal;
}
/*---------------------End Testimonial-----------------------------*/

/*---------------------Start footer-----------------------------*/

.footerSection{
  padding: 20px 0;
}
.bg-footer{
  background-color: #000066;
}
.border-top{
  border-top: 2px solid #c9c9c9 !important;
}
.Sociallinks li a{
  height: 30px;
  background: #d4cece;
  width: 30px;
  display: flex;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.Sociallinks li i{
  color: #006;
  margin-right: 0;
  font-size: 15px;
}
.footer-links h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #fff;
}
.footer-links ul{
  list-style-type: none;
  margin-top: 10px;
  padding: 0;
  margin-bottom: 20px;
}
.Sociallinks li{
}
.Sociallinks li img {
    height: 40px;
    width: 40px;
}
.footer-links ul li{
  color: #d4cece;
  font-style: normal;
  font-weight: normal;
  line-height: 22px;
  font-size: 14px;
}
.contactlinks li i.fontaddress{
  color: #d4cece;
}
.tittlehead-inner{
  font-size: 30px;
}
.footer-links ul li a{
  color: #d4cece;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
.footer-links input{
  font-size: 13px;
  width: 86%;
}
.Sociallinks{
  display: flex;
}
.form-group{
  margin-bottom: 8px;
}
.footer-links textarea{
  width: 86%;
  height: 81px;
  font-size: 13px;
}
button.btn-btn-blue {
    background: transparent;
    border: none;
    color: #fff;
    margin-top: 8px;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #fff;
    font-size: 17px;
    padding: 5px 23px;
}
.footer-links .form-control:focus{
  outline: none;
  border:2px solid #c9c9c9;
}
.bg-black{
  background-color: #000;
}
.copyright_footer p{
  color: #fff;
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  padding: 5px;
}
/*---------------------End footer-----------------------------*/
.gallery-section .owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav{
  display: block !important;
  top: -30px;
  right:0;
  font-size: 0;
  position: absolute;
}

.gallerySlider .owl-carousel .owl-nav .owl-prev:before{
  content: "\f053";
  font-size: 16px;
  position: absolute;
  height: 30px;
  width: 30px;
  top:36px;
  border-radius: 50%;
  transition: .3s ease-in;
  text-align: center;
  color: #fff;
  line-height: 28px;
  left: -73px;
  background-color: #39a5d4;
  border: 2px solid #39a5d4;
  font-family: fontAwesome;
}
.gallerySlider .owl-carousel .owl-nav .owl-next:before{
  content: "\f054";
  font-size: 16px;
  padding-left: 2px;
  position: absolute;
  top:36px;
  line-height: 28px;
  right: 10px;
  color: #fff;
  transition: .3s ease-in;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  background-color: #39a5d4;
  border: 2px solid #39a5d4;
  font-family: fontAwesome;
}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav{
  top: -33px;
  right:0;
  font-size: 0;
  position: absolute;
}
.gallery-section .owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled{
  top: -29px;
}
.owl-carousel .owl-nav .owl-prev:before{
  content: "\f053";
    font-size: 16px;
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transition: .3s ease-in;
    text-align: center;
    color: #fff;
    line-height: 28px;
    left: -63px;
    background-color: #39a5d4;
    border: 2px solid #39a5d4;
    font-family: fontAwesome;
}
.owl-carousel .owl-nav .owl-prev:hover:before{
  background-color: #fff;
  border: 2px solid #39a5d4;
  color:#39a5d4;
}
.owl-carousel .owl-nav .owl-next:hover:before{
  background-color: #fff;
  border: 2px solid #39a5d4;
  color:#39a5d4;
}
.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev{
  font-size: 0 !important;
}
.owl-carousel .owl-nav .owl-next:before{
    content: "\f054";
    font-size: 16px;
    padding-left: 2px;
    position: absolute;
    top: 0;
    line-height: 28px;
    right: 0;
    color: #fff;
    transition: .3s ease-in;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    background-color: #39a5d4;
    border: 2px solid #39a5d4;
    font-family: fontAwesome;
}
.box.box1 {
    margin-bottom: 10px;
}
.view-more {
    background-color: transparent;
    color: #000066;
    font-weight: 600;
    border: 2px solid #000066;
    border-radius: 6px;
    padding: 5px 15px;
    font-size: 16px;
    margin-top: 8px;
    transition: .3s all;
}
.view-more:hover{
  color: #000066;
}
.video-gallery-section{
  margin-top:70px;
}

.sk-yt-next-page.display-none ~ div a {
    opacity: 0;
    display: none !important;
}

.backgroundgray{
  background-color: #f1f1f1;
}
.aboutView{
  position: relative;
  height: 200px;
}
.aboutView span{
  position: absolute;
    display: block;
    font-size: 30px;
    top: 50%;
    left: 50%;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
}
/*----------------Contact us-------------------------------------*/
section#contact {
    background-color: #f2f2f2;
}
.contact-form {
    margin-top: 100px;
    margin-bottom: 25px;
}
.contact-form-area {
    background: #fff;
    padding: 30px 40px 10px;
}
.contact-form-area h2 {
    font-size: 18px;
    text-transform: uppercase;
    color:#000;
    margin-bottom: 0;
}
.singlepage .item.border-all .row .col-md-5 {
  align-items: center;
  display: flex;
}
.gallerycontent li{
  text-align: left;
}
@media (max-width: 1200px){
  .aboutSection{
    padding-top: 20px;
  }
  .about-gallery{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .gallery-img{
    width: auto;
    /*height: auto;*/
  }
  .footer-links input{
    width: 100%;
  }
  .footer-links textarea{
    width: 100%;
  }
  .testimonial-content p{
    height: 53px;
    overflow: hidden;
  }
}
@media (max-width: 1024px){
  a.nav-link.navListing{
    font-size: 12px;
    padding: 10px 8px;
  }
  
}
@media (max-width: 991px) and (min-width: 767px){
  a.nav-link.navListing{
    font-size: 12px;
    padding: 10px 7px !important;
  }
  .gallery-content p{
    height: 108px;
    overflow: hidden;
  }
  .gallery-content ul{
    height: 105px;
    overflow: hidden;
  }
}
@media (max-width: 991px){
  .gallery-content {
     padding: 0 10px;
     height: 112px;
  }
  .mobile-btn{
    display:block;
  }
  .team-section{
    padding-top:0;
  }
}
@media (max-width: 767px) {
  .navbar-toggler{
    padding-right: 3px;
  }
  .g-recaptcha{
    width: 100%;
  }
  .gallery-content p{
    height: 60px;
    overflow: hidden;
  }
  .gallery-content{
    /*height: px;*/
  }
  .gallery-content ul{
    height: 50px;
    overflow: hidden;
  }
  li.nav-item {
      position: relative;
  }

  ul.dropdown{
    top: 35px;
    box-shadow: 1px 1px 3px #4e4b4b;
  }
  .footer-right-area {
      margin-top: 10px;
  }
  .footer-right-contact .single-contact{
  }
  .footer-right-contact .single-contact{
    margin: 0;
  }
  .contact-form-area{
    padding: 30px 10px 10px;
  }
  .mobileToggle{
    display: none;
  }
  .mobileToggle1{
    display: none;
  }
  .navbarListingtop .navbar-nav .nav-item:hover ul.dropdown{
    display: none;
  }
  .navbarListingtop button:focus{
    outline: none!important;
    outline: 1px auto -webkit-focus-ring-color !important;
  }
  .navbar-toggler-icon{
    width: auto;
    height: auto;
  }
  .navbar-toggler-icon{
    background-color: #fff;
  }
  .tittlehead{
    font-size: 30px;
    margin-bottom: 5px;
  }
  .paragraph-content p{
    font-size: 14px;
  }
  .text-color a{
    font-size: 16px;
  }
  .gallery-section {
      padding: 10px 0 15px;
  }
  .sliderRelative img {
      height: 100%;
  }
  .sliderRelative {
      height: 200px;
  }
  .gallery-section .border-all{
    /*border:none;*/
    padding: 0;
  }
  .gallerycontent p{
    font-size: 14px;
    padding: 10px;
  }
  .eventname{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 2px;
  }
 
  .team-section .item{
    height: 200px;
  }
  .testimonial-outer{
    margin-bottom: 30px;
  }
  .testimonial-section{
    padding: 20px 0 10px;
  }
  .team-section .item-team{
    margin: 0 auto 20px;
    display: flex;
    padding: 15px 0;
    background: #fff;
    justify-content: center;
  }
  .team-desc h3{
    text-align: center;
    font-size: 24px;
  }
  .team-desc h4{
    text-align: center;
    font-size: 20px;
  }
  .our_team_page {
      margin-top: 62px;
  }
  .our_team_page .m-t-20 {
      margin-top: 10px;
  }
}
@media (max-width: 576px){
  .testimonial-content h3{
    font-size: 19px;
  }
  .testimonial-content p{
    font-size: 12px;
  }
}
@media (max-width: 420px){
  .m-t-20 {
      margin-top: 5px;
  }
  .gallerycontent p{
    margin-bottom: 0;
  }
  .testimonial-section {
      padding: 15px 0 10px;
  }
  .tittlehead {
      font-size: 25px;
  }
}
@media (max-width: 359px){
  .team-section .item {
      height: 250px;
  }
}